<div class="container wanted-domains-container">
  <%= form_for @wanted_domain, url: {action: 'create'} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
