<div class="container">
  <nav class="nav nav-inline">
    <%= link_to 'See All', wanted_domains_all_path, class: 'nav-link btn btn-outline-primary' %>
  </nav>

  <h1><%= @wanted_domain.name_with_tld %></h1>
</div>
