<div class="container">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Word</th>
        <th>First Character</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr>
          <th><a href="<%= word.definition_url %>" target="_blank"><%= word.word %></a></th>
          <th><%= word.first_character %></th>
          <th><button class="btn btn-secondary btn-sm track-domain" value="<%= word.word %>">Track</button></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
