<div class="container competitor-domains-container">
  <h1>Total competitor revenue by TLD</h1>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>TLD</th>
        <th>Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% @revenue_by_tld.each do |tld, revenue| %>
        <tr>
          <th><%= tld %></th>
          <th><%= revenue %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
