<!DOCTYPE html>
<html>
  <head>
    <title>Domainial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="#">Domainial</a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Wanted</a>
          </li>
        </ul>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
